body{
    background-color: lightgreen;
}
.header{
    background-color: darkgreen;
    border: 1px solid black;
    top:50px;
    left:0px;
    width:100vw;
    height:50px;
    position:absolute;
}
nav{
    background-color: black;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;

}
nav ul li{
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
nav ul{
    text-align:right;
}
.fields{
    width:50vw;
    position:relative;
    top:110px;
    margin-left:150px;
    border:5px groove black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius:15px;
}
footer{
    background-color:black;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100vw;
    height:50px;
}
footer ul li{
    display:inline-block;
    color:white;
    font-weight: bold;
    margin-right:100px;
}
footer ul{
    text-align: center;
}
.input{
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border:1px groove black;
    margin: 3px 3px 3px 3px;
    border-radius:15px;
}
#passreq{
    margin:1px 1px 1px 1px;
    font-size: small;
}
#DoB{
    margin: 2px 2px 2px 2px;
    font-size: 10px;
}
#submit{
    margin: 3px 3px 3px 3px;

}
img{
    width:50px;
    height:50px;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}